<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-title>
          {{title}} Usuario
        </mat-card-title>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <!-- INPUT BUSQUEDA DE Usuarios -->
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="Submit()">
          <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Digite el nombre del usuario" matInput
                  [formControl]="userForm.controls['NOMBRE']" autocomplete="off" id="NOMBRE" />
                <mat-hint *ngIf="
                  userForm.controls['NOMBRE'].hasError('required') &&
                  userForm.controls['NOMBRE'].touched
                " class="text-danger font-14">campo requerido</mat-hint>

              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="example-full-width">
                <mat-label>Rol</mat-label>
                <mat-select [formControl]="userForm.controls['ID_ROL']">
                  <mat-option value=1>Administrador</mat-option>
                  <mat-option value=2>Auditor</mat-option>
                  <mat-option value=3>Auxiliar</mat-option>
                </mat-select>

                <mat-hint *ngIf="
                  userForm.controls['ID_ROL'].hasError('required') &&
                  userForm.controls['ID_ROL'].touched
                " class="text-danger font-14">campo requerido</mat-hint>

              </mat-form-field>
            </div>
            {{userForm.value | json}}
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="example-full-width">
                <mat-label>Activo</mat-label>
                <mat-select [formControl]="userForm.controls['ACTIVO']">
                  <mat-option value=1>Activo</mat-option>
                  <mat-option value=2>Desactivado</mat-option>
                </mat-select>

                <mat-hint *ngIf="
                  userForm.controls['ACTIVO'].hasError('required') &&
                  userForm.controls['ACTIVO'].touched
                " class="text-danger font-14">campo requerido</mat-hint>

              </mat-form-field>
            </div>
            


            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button mat-raised-button  style="background: #004e5c;
              color: white;" [disabled]="!userForm.valid || isSaving || userForm.pristine" type="submit" mat-raised-button>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>