<div class="login-register" style="
    background-image: url(assets/images/backgrounds/bg-login.jpg);
  ">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="Submit()">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img alt="homepage" style="border-radius: 45px;" height="300px" src="assets/images/logo/softnight.png" />
          </div>
          <div>
            <h2 style="text-align: center;">Iniciar Sesión</h2>
          </div>

          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Digite su Correo Electrónico" matInput
                  [formControl]="userForm.controls['email']" autocomplete="off" id="email" />
                <mat-hint *ngIf="
                    userForm.controls['email'].hasError('email') &&
                    userForm.controls['email'].touched
                  " class="text-danger font-14">Debe digitar un correo electrónico valido</mat-hint>
                <mat-hint *ngIf="
                    userForm.controls['email'].hasError('required') &&
                    userForm.controls['email'].touched
                  " class="text-danger font-14">El campo usuario es requerido
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input type="password" placeholder="Digite su contraseña" matInput
                  [formControl]="userForm.controls['password']" autocomplete="off" id="password" />
                <mat-hint *ngIf="
                    userForm.controls['password'].hasError('required') &&
                    userForm.controls['password'].touched
                  " class="text-danger font-14">El campo contraseña es requerido</mat-hint>

                <mat-hint *ngIf="
                    userForm.controls['password'].hasError('minlength') &&
                    userForm.controls['password'].touched
                  " class="text-danger font-14">La contraseña debe contener al menos 6 caracteres</mat-hint>
              </mat-form-field>
            </div>
            <span *ngIf="errorMsg" class="text-center text-danger">
              {{ errorMsg }}
            </span>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            </div>
            <div style="margin-top: 10px;" fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit"
                [disabled]="!userForm.valid || loading">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>


  </div>