.login-register {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
}

.login-register .mat-card {
  margin: 0px 15px;
  background-color: darkgray;
}

.login-register .mat-form-field {
  width: 100%;
}

.login-register .login-register-box {
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
  vertical-align: middle;
}

.login-register .support-text {
  margin-top: -15px;
  display: block;
  padding-bottom: 15px;
}

.text-danger{
  color:firebrick;
}
.font-14{
  font-size: smaller;
}
.text-center{
  text-align: center;
}