<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-title>
          Listado De Usuarios.
          <button [routerLink]="['/usuarios/nuevo']" style="margin-left: 40vh;background: #004e5c;
              color: white;" mat-raised-button>
            Crear Usuario
          </button>
        </mat-card-title>
        <!-- INPUT BUSQUEDA DE Usuarios -->
        <mat-card-content>
          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <form autocomplete="off">
              <div>
                <mat-form-field>
                  <input class="form-control" matInput placeholder="Buscar Usuario"
                    (keyup)="Filter($event.target.value)" id="buscarUsuario" />
                  <mat-hint *ngIf="errorMensaje !== null" class="text-danger font-14">{{ errorMensaje }}</mat-hint>
                </mat-form-field>

              </div>
            </form>
          </div>
        </mat-card-content>
        <mat-card-content>
          <br>
          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <!-- TABLE USUARIOS -->
            <div class="responsive-table">
              <mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Id
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.ID_USUARIO }}
                  </mat-cell>
                </ng-container>

                <!-- Nombre -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nombre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{
                  row.NOMBRE
                }}
                  </mat-cell>
                </ng-container>

                <!-- Rol -->
                <ng-container matColumnDef="rol">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Rol
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.ID_ROL===1?'ADMINISTRADOR':row.ID_ROL===2?'AUDITOR':'AUXILIAR' }}
                  </mat-cell>
                </ng-container>
                <!-- Rol -->
                <ng-container matColumnDef="activo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Activo
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.ACTIVO }}
                  </mat-cell>
                </ng-container>

                <!-- Opcion Column -->
                <ng-container matColumnDef="opcion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Opciones
                  </mat-header-cell>

                  <mat-cell *matCellDef="let row">
                    <a [routerLink]="['/usuarios/lista/editar/'+row.ID_USUARIO]" style="color: #26c6da; cursor: pointer"
                      matTooltip="Editar Usuario" matTooltipPosition="above">
                      <mat-icon>edit</mat-icon>
                    </a>
                    <a  (click)='eliminarUsuario(row)' style="color: #da25528e; cursor: pointer"
                      matTooltip="Eliminar Usuario" matTooltipPosition="above">
                      <mat-icon>delete_forever</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[10,15, 20]"></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>
