

.responsive-table {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: 0;
}

.header-label {
  display: none;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
  width:100vh
}
.table {
  width: 100%;
  text-align: left;
}