<mat-toolbar>
  <div>
    <img style="height: 50px; margin-right: 20px" src="assets/icon/angular.png" alt="homepage" class="light-logo" />
  </div>
  <span style="margin-right: 20PX;">PRUEBA TÉCNICA</span>
  <span>Alfredo Junior Soto Rodriguez</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="mat-elevation-z8" mode="side" opened>
    <img class="avatar mat-elevation-z8" src="assets/images/profile/1559829311820.jfif" />
    <h4 class="name">Alfredo Junior Soto</h4>
    <p class="designation">Software Engineer</p>
    <mat-divider></mat-divider>
    <button  matTooltip="Panel Usuarios" [routerLink]="['/usuarios/lista']" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span> Usuarios</span>
    </button>
    <button  matTooltip="Cerrar Sesión" (click)='cerrarSesion()' mat-button class="menu-button">
      <mat-icon>input</mat-icon>
      <span> Cerrar sesión</span>
    </button>
  </mat-drawer>
  <mat-drawer-content class="content mat-elevation-z8">
    <router-outlet>
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>